{% extends 'events/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Создать событие
{% endblock %}

{% block content%}

<link rel="stylesheet" type="text/css" href="{% static 'css/event.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'build/jquery.datetimepicker.min.css' %}" >
<script src="{% static 'build//jquery.js' %}"></script>
<script src="{% static 'build/jquery.datetimepicker.full.min.js' %}"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3fff23c9-c301-4e68-b14d-aec34f227a40" type="text/javascript"></script>
<script src="event_reverse_geocode.js" type="text/javascript"></script>
<script src="{% static 'js/map.js' %}" type="text/javascript"></script>

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <form action="{% url 'events:edit_event' event.id%}" method="post">
            {% csrf_token %}

             {{ form|crispy }}

            <div>
                <div id="map" style="width: 600; height: 400px"></div>
            </div>

            <button class="btn btn-primary mt-2" name="submit">Сохранить изменения</button>
        </form>
    </div>
</div>

<script>
jQuery.datetimepicker.setLocale('ru');
jQuery('#id_event_date').datetimepicker({
    format:'d.m.Y H:i',
    todayHighlight:'TRUE',
    minDate:new Date(),
});
</script>

{% endblock %}