{% extends 'events/base.html' %}
{% load static %}

{% block title %}
Event Map
{% endblock %}

{% block content %}

<!--<script src="{% static 'js/map.js' %}"></script>-->
<script src="https://api-maps.yandex.ru/2.1/?apikey=3fff23c9-c301-4e68-b14d-aec34f227a40&lang=ru_RU" type="text/javascript">
</script>

<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.75,37.62],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 13,
            // Отключаем лишние элементы управления.
            controls: ['zoomControl'],

        });
    }
</script>

<style>
    .profile-pic{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    }
</style>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/geo.png' %}" alt="" width="30" height="30 class="
                 d-inline-block align-text-top">
            События твоего города
        </a>
        <div>
            <form class="container-fluid justify-content-start">
                {% if user.is_authenticated %}
                {% if request.user.profiles.profile_pic %}
                <a href="{% url 'accounts:profile' %}"><img class="profile-pic" src="{{ request.user.profiles.profile_pic.url }}"></a>
                {% else %}
                <a href="{% url 'accounts:profile' %}">{{ request.user.username }}"</a>
                {% endif %}
                <button class="btn btn btn-danger" type="button"><a class="text-light"
                        href="{% url 'accounts:logout' %}">Выйти</a></button>
                {% else %}
                <button class="btn btn btn-primary" type="button"><a class="text-light"
                        href="{% url 'accounts:login' %}">Войти</a></button>
                {% endif %}
            </form>
        </div>
    </div>
</nav>

<div id="map" style="width: 100%; height: 600px"></div>

{% if events_all %}
<ul>
    {% for event in events_all%}
    <div class="card card-body">
    <p>{{ event.title }}</p>
    <p>{{ event.text }}</p>
    <p>{{ event.event_date|date:'d.m.Y H:i' }}</p>
    </div>
    {% endfor %}

</ul>
{% else %}
<p>Нет доступных событий</p>
{% endif %}

{% endblock %}