body{
	background-color: #f2f2f2;
    }

.profile-pic{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    }

.following-pic{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    }



