{% extends 'event/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Events Map
{% endblock title %}

{% block content %}
    <div class="card col-3">
        <div class="card-body">
            <h4 class="card-title">Войдите в аккаунт</h4>

            <form method="post" action="{% url 'profiles:login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'event:index' %}">

                {{ form|crispy }}
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="submit" class="btn btn-primary btn-block mt-3">Войти</button>
                </div>
            </form>
        </div>
    </div>

<a href="{% url 'profiles:register' %}?next=/">Зарегистрироваться</a>
{% endblock content %}

{% block events %}

{% endblock events %}
