{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static '/css/profile.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Профиль пользователя</title>

</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/geo.png' %}" alt="" width="30" height="30 class="
                 d-inline-block align-text-top">
            События твоего города
        </a>
        <div>
            <button class="btn btn-primary" type="button"><a class="text-light"
                                                             href="{% url 'events:create_event' %}">Создать событие</a>
            </button>
        </div>
        <div>
            <button class="btn btn-primary" type="button"><a class="text-light"
                                                             href="{% url 'accounts:profiles_all' %}">Следовать</a>
            </button>
        </div>
        <div>
            <button class="btn btn-primary" type="button"><a class="text-light"
                                                             href="{% url 'events:index' %}">На главную</a></button>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100 border-info">
                {% if user.profiles.profile_pic %}
                <img class="profile-pic" src="{{ user.profiles.profile_pic.url }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body h-100 border-info">
                <p>{{ user_profile.name }}</p>
                    {% if follow %}
                        <form action="{% url 'accounts:detail' user_profile.user.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{user_profile.user.id}}>
                            <button type="submit" class="btn btn-danger col-md-3">Отписаться</button>
                        </form>
                    {% else %}
                        <form action="{% url 'accounts:detail' user_profile.user.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{user_profile.user.id}}>
                            <button type="submit" class="btn btn-primary col-md-3">Подписаться</button>
                        </form>
                    {% endif %}
                <hr>
                <p><b>Контактная информация:</b> {{ user_profile.email }}</p>
                <hr>
                <p><b>О себе:</b> {{ user_profile.bio }}</p>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body" style="text-align: center">Мои события</div>
            {% for event in user_events %}
            <div class="card card-body">

                <p><b>Что: </b>{{ event.title }}</p>
                <p>{{ event.text }}</p>
                <p><b>Где: </b>{{ event.location }}</p>
                <p><b>Когда: </b>{{ event.event_date|date:'d.m.Y H:i' }}</p>
            </div>
            {% endfor %}
        </div>
</body>
</html>